@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --primary-color: rgb(234, 70, 72);
  /* --dark-color: #070909; */
  --dark-color: rgb(7, 9, 9);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* to hide the scrollbar in the whole site */
body::-webkit-scrollbar {
  display: none;
}

.first-secion-header {
  border: 2px solid black;
  display: block;
}

/* left: 30px; */
/* right: 20; */
/* height: 100px; */
/* margin-top: 30px; */

.header {
  position: relative;
  top: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.first-secion-header .header {
  padding: 100px 0;
}

.first-secion-header .header .content {
  padding: 100px 0;
}

.content {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1140px;
}

.first-secion-header .header-section {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1140px;
}

.header-section h1 {
  margin-bottom: 37px;
  font-size: 80px;
  margin-bottom: 37px;
  color: var(--dark-color);
  line-height: 1.28em;
  /* font-size: 4em; */
  /* font-size: 54px; */
  /* font-weight: 800; */
  /* letter-spacing: 0.02em; */
}

.header-section h2 {
  font-size: 3em;
  font-weight: 700;
  line-height: 1.3em;
}

h3 {
  font-size: 1em;
  /* font-weight: 700; */
  /* line-height: 1em; */
}

.first-section {
  height: 700px;
  width: 100%;
  /* margin: 0 auto; */
}

.header a img {
  width: 300px;
  height: 60px;
  /* height: 30%; */
}

.menu {
  right: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu .menu-side {
  font-size: 0.8em;
  /* justify-content: center;
  align-items: center; */
}

.menu ul {
  list-style: none;
}

.menu ul li {
  display: inline-block;
  /* grid-template-columns: repeat(5, 1fr); */
  margin-right: 15px;
  /* justify-content: center; */
}

/* .menu ul li:not(:last-child) a {
  text-decoration: none;
  color: #111;
  font-size: 1.5em;
  text-transform: uppercase;
} */

.btn {
  display: inline-flex;
  height: 70px;

  padding: 0 16px;

  background-color: var(--primary-color);
  color: #fff;
  font-size: 22px;

  text-transform: uppercase;
  box-sizing: border-box;

  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.btn:hover {
  background-color: #111;
}

#lets-talk {
  display: inline-flex;
  /* height: 70px;
    width: 200px; */

  color: var(--dark-color);
  border-color: var(--dark-color);
  border: solid 2px;
  height: 70px;

  padding: 0 16px;
  text-transform: uppercase;
  box-sizing: border-box;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
}

#lets-talk:hover {
  background-color: black;
  color: #fff;
}

@media (min-width: 1482px) {
  .first-secion-header .header-section .content {
    padding: 100px 0 190px;
  }
}

@media (max-width: 1481px) {
  .first-secion-header .header {
    padding: 70px 0;
  }

  .first-secion-header .header-section {
    padding: 0 40px;
    max-width: 1152px;
  }

  .first-secion-header .header-section .content {
    padding: 80px 0 140px;
  }
}

@media (max-width: 1200px) {
  .first-secion-header .header {
    padding: 50px 0;
  }

  .first-secion-header .header-section {
    padding: 0 40px;
    max-width: 914px;
  }

  .first-secion-header .header-section .content {
    padding: 60px 0 120px;
  }
}

@media (max-width: 768px) {
  .first-secion-header .header {
    padding: 38px 0;
  }

  .first-secion-header .header-section {
    padding: 0 40px;
    max-width: 600px;
  }

  .first-secion-header .header-section .content {
    padding: 40px 0 80px;
  }

  @media (max-width: 480px) {
    .first-secion-header .header-section .content {
      padding: 20px 0 60px;
    }
  }
}
